@media screen and (max-width: 639px) {
	.content {
		width: 290px;
	}
	.header {
		.hd_title {
			.hd_title_name {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (min-width: 640px) and (max-width: 719px) {
	.content {
		width: 610px;
	}
}

@media screen and (min-width: 720px) and (max-width: 799px) {
	.content {
		width: 720px;
	}
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
	.content {
		width: 800px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.content {
		width: 1024px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
	.content {
		width: 700px;
	}
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {}

@media screen and (min-width: 1600px) and (max-width: 1679px) {}

@media screen and (min-width: 1680px) and (max-width: 1919px) {}