@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

/* Color's */

@black: #000000;
@white: #FFFFFF;

@light      : 300;
@regular    : 400;
@medium     : 500;
@semi-bold  : 600;
@bold       : 700;

.font-family (@weight: @medium) {
    font-family: 'Raleway', sans-serif;
    font-weight: @weight;
}