.content {
	margin: 0 auto;
}

.viewport {
	width: 100%;
}

// #home:before, #contact:after {
// 	color: #FFF;
// 	font-size: 130px;
// 	position: absolute;
// 	font-family: 'Poppins Bold';
// 	text-shadow: 2px 4px 10px rgb(0, 0, 0);
// }

// #home:before {
// 	content: '{';
//     left: 17%;
// }

// #contact:after {
// 	content: '}';
//     right: 17%;
//     bottom: -300%;
// }

#title {
	height: 0;
}

#title h1 {
	top: 75px;
	left: 22%;
	color: #FFF;
	font-size: 50px;
	position: absolute;
	font-family: 'Poppins Bold';
	text-shadow: 2px 4px 10px rgb(0, 0, 0);
}

.menu {
	position: fixed;
	left: 0;
	top: 20%;
}

.menu li {
	display: block;
	width: 100px;
}

.menu li a {
	width: auto;
	float: left;
	margin-bottom: 3%;
	color: #000;
	padding: 8px;
	background: #FFF;
	border: 1px solid transparent;
	border-left: none;
	border-radius: 0px 5px 5px 0px;
	font-family: 'Poppins Light';
    -webkit-transition: padding 0.2s;
       -moz-transition: padding 0.2s;
    	-ms-transition: padding 0.2s;
    	    transition: padding 0.2s;
}

.menu li a:hover {
	padding-left: 20px;
	font-weight: bold;
	color: #FFF;
	background-color: #121621;
	border-color: #FFF;
	-webkit-transition: 0.30s;
       -moz-transition: 0.30s;
    	-ms-transition: 0.30s;
    	    transition: 0.30s;
}

.menu li a span:last-child:before {
	content: '{';
	opacity: 0;
}

.menu li a span:last-child:after {
	content: '}';
	opacity: 0;
}

.menu li a:hover span:before {
	-webkit-transition: linear 0.1s;
       -moz-transition: linear 0.1s;
    	-ms-transition: linear 0.1s;
    	    transition: linear 0.1s;
	opacity: 1;
}

.menu li a:hover span:after {
	-webkit-transition: linear 0.1s;
       -moz-transition: linear 0.1s;
    	-ms-transition: linear 0.1s;
    	    transition: linear 0.1s;
	opacity: 1;
}

.menu li a .icon img {
	width: 15px;
	height: 15px;
}

.menu li a .icon img path {
	fill: #000;
}

.menu li a:hover .icon img,
a:hover .icon img circle,
a:hover .icon img polygon {
	fill: #FFF;
}

.menu li a .icon {
	float: left;
	display: none;
}